apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
  namespace: ml-workloads
spec:
  selector:
    app: mlflow-server
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
  type: ClusterIP
